canvas {
    position: absolute;
    background-color: transparent;
    top: 10px;
}
#gameOver {
    width: 1024;
    height: 650;
    position: absolute;
    top: 10px;
    
}
img {
    width: 1024;
    height: 650;
}